# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env

# Virtual environments
venv/
.venv/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data/outputs
*.db
*.sqlite
*.sqlite3
ticks.db

# Jupyter/IPython
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Logs
*.log
